/* ------------------------- Début Navigation -------------------------  */

/* -------------------- Navebar Custome -------------------- */

@font-face {
    font-family: 'Customized-Charmonman';
    src: url('../fonts/Charmonman-Bold.ttf');
}

header {
    position: relative;
}


#image-logo {
    width: 50px;
    height: 30px;
    padding-left: 5px;
    background-image: url('../images/vecteezy_watercolor-fruits-and-vegetables/thanksgiving\ background.svg');
    opacity: 1;
}

/* nav {
    position: sticky;
    top: 20px;
} */

.navbar-brand {
    font-family: 'Customized-Charmonman';
    font-weight: bolder;
}

.navbar-custom {
    background-color: seagreen; 
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}



nav {
    display: flex;
    
}

nav a {
    font-size: larger;
    font-weight: border;
}

.navbar-toggle,
#colorBtnColor {
    color: white;
}

.navbar-brand,
 .nav-item,
#research {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
} 


/* -------------------- Navebar Custome End -------------------- */


/* #research {
    padding-left: 200px;
}

#contact {
    padding-left: 400px;
}  */











/* ------------------------- Fin Navigation -------------------------  */


.card {
    display: inline-block;
}

#titreContact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#priseDeContact {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed lightgreen;
}

.input-group {
margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 100%;
}

label {
font-weight: 600;
}

input[type="reset"] {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"] {
    background-color: seagreen;
    color: white;
    cursor: pointer;
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
}